body {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7)
    url(https://i.pinimg.com/originals/33/1d/34/331d344c012c1ff4307858f8c9f38706.gif)
    no-repeat fixed;
  background-size: cover;
  background-blend-mode: darken;
  text-align: center;
  overflow: hidden;
  font-family: "VT323", monospace;
}

.contenedorTotal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#seccionJuego {
  width: 100%;
  height: 100%;
}

#tituloPrincipal {
  font-size: 20vh;
  letter-spacing: 2vh;
  color: rgb(169, 111, 184);
  text-shadow: -0.3vh -0.3vh 0 #000, 0.3vh -0.3vh 0 #000, -0.3vh 0.3vh 0 #000,
    0.3vh 0.3vh 0 #000;
  margin-top: 3%;
}

.juegosContenedor {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 5%;
}

.juegos {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 15%;
  margin-top: -8%;
}

.titulo {
  display: flex;
  flex-direction: column;
  color: rgb(255, 0, 0);
  font-size: 6vh;
  text-shadow: -0.2vh -0.2vh 0 #000, 0.2vh -0.2vh 0 #000, -0.2vh 0.2vh 0 #000,
    0.1vh 0.1vh 0 #000;
  margin-top: auto;
  letter-spacing: 0.4vh;
}

#tituloSecundario {
  color: white;
}

.botonNeon {
  display: inline-block;
  padding: 2vh 4vh;
  color: #fff;
  letter-spacing: 4px;
  font-size: 3vh;
  text-decoration: none;
  overflow: hidden;
  transition: 0.1s;
}

.botonNeon:hover {
  background: #a945c7;
  box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
  transition-delay: 0.2s;
}

#botonHome {
  margin-top: 0;
  margin-left: 10%;
}

#autores {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 2vh;
  margin-top: 1%;
}

.cajaContenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.capaVioleta {
  margin: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #53106b98;
  border-radius: 4vh;
  width: 90%;
  height: 95%;
}

.capaVerdeOscuro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #004d00;
  width: 90%;
  height: 90%;
}

.barraOscuraContenedor {
  display: flex;
  justify-content: space-evenly;
  margin-left: 2%;
  margin-right: 2%;
  flex-direction: column;
  height: 100%;
  width: 17%;
  position: relative;
}

#botonPlay {
  background-color: #009600;
  font-size: 3vh;
  font-family: "VT323", monospace;
  color: #ffffff;
  border-color: transparent;
  border-radius: 5px;
  padding: 10%;
  margin: 10%;
  cursor: pointer;
}

#botonPlay:hover {
  background: #009600;
  box-shadow: 0 0 10px #488d3f, 0 0 40px #009600;
}

.label {
  color: white;
  font-size: 3vh;
}

.usuarioMarcadorContenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.usuarioInput {
  align-self: center;
  background-color: transparent;
  width: 60%;
  box-sizing: border-box;
  margin-top: 8%;
  text-align: center;
  font-size: 6vh;
  border: solid 2px;
  font-family: "VT323", monospace;
}

.maxScore {
  display: flex;
  gap: 18px;
}
#maxUsuario {
  display: none;
}

.marcador {
  color: #ffffff;
  font-size: 7vh;
}

#instruccionesIcon {
  cursor: pointer;
}

.ventanaEmergente {
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
}

.formato {
  width: 46%;
  padding: 2%;
  border-radius: 15px;
  background: rgb(255, 255, 255);
  position: relative;
  margin: auto;
}

.ventanaEmergente .cerrar {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.cerrar:hover {
  cursor: pointer;
}

::placeholder {
  color: rgba(255, 255, 255, 0.589);
}

p {
  font-size: 25px;
}
